body {
     background: linear-gradient(to right, rgb(193, 208, 194),rgb(19, 185, 36));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box-image{
    width: 40%;
    height: 200px;
    margin-right: 100px;
    margin-bottom: 90px;
}

.contact-container {
    background-color: aliceblue;
    padding: 25px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    font-family: cursive;
    margin-bottom: 15px;
    color: rgb(4, 63, 108);
}

label {
    font-size: 14px;
    margin: 8px 0 3px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid white;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 80px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: rgb(19, 185, 36);
    border: none;
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover {
    background: green;
}

.error {
    color: red;
    font-size: 13px;
}

@media(max-width: 450px){
    .contact-container{
        width: 90%;
    }
}
